<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>
<div class="banner">
<div id="content">
  <div id="container">
    <div class="card">
      <div class="row">
      <div class="col-xs-12", id="presentation">
      <h2>Présentation </h2>
      <p>
        Sacha Sardo - 22 ans - Développeur web, freelance web -
        Spécialisé dans la création de site vitrine.
      </p>
      </div>
      </div>
      <div class="row">
      <div class="class-xs-6">
        <%= image_tag "sacha.jpg", class:"img-circle", id:"img-profile"%>
      </div>
      <div class="class-xs-6">
        <li class="curieux">Curieux</li>
        <li class="curieux">Investi</li>
        <li class="curieux">Passionné</li>
      </div>
      </div>
    </div>
      <div class="card", id="competences">
        <h2>Compétences </h2>
        <p>
          HTML - CSS - Ruby - Rails - Javascript - JQuery
        </p>
      </div>

      <div class="card", id="portfolio">
        <h2>Portfolio </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus voluptates aperiam cupiditate distinctio ipsa nisi possimus minus adipisci amet doloribus laborum corporis, facilis soluta veritatis quaerat debitis temporibus laboriosam at.</p>
      </div>
      <div class="card", id="contact">
        <h2>Contact </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, perferendis, impedit magnam voluptatem recusandae perspiciatis culpa ipsam optio harum vero numquam enim nostrum quibusdam laboriosam dignissimos natus est reiciendis dolores.</p>
      </div>
    </div>
  </div>
</div>
</div>