/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */
 #container{
  width: 900px;
  margin: 50px auto;
}

.card{
  background: white;
  text-align: center;
  padding: 35px 50px;
  margin-bottom: 35px;
  border-radius: 4px;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
#content{
  position: relative;
  padding: 5px 60px;
}
#img-profile{
  width: 150px;
  height: 150px;
  border: 3px solid #cccccc;
  margin-right: 260px;
}
.img-circle{
  border-radius: 50%;
}
.curieux {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 14px;
  margin: 15px 0;
  padding: 10px 0 10px 55px;
  height: 16px;
  line-height: 16px;
}